<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.zhou.mapper.dao.AreaResMapper" >
  <resultMap id="BaseResultMap" type="cn.zhou.mapper.model.AreaRes" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="amount" property="amount" jdbcType="INTEGER" />
    <result column="time" property="time" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="grain" property="grain" jdbcType="VARCHAR" />
    <result column="area_id" property="areaId" jdbcType="INTEGER" />
  </resultMap>
  <select id="queryAmountFromCountry" parameterType="object" resultMap="BaseResultMap">
  	select sum(t1.amount) as amount from sy_area_res t1
  	inner join sy_area t2
  	on t1.area_id=t2.id
  	and t2.name=#{qry.areaName}
  	where t1.time=#{qry.time}
  	and t1.province is not null
  	and t1.city is null
  	and t1.grain=#{qry.grain}
  </select>
  <select id="queryAmountFromCitiesByPage" parameterType="map" resultMap="BaseResultMap">
  	select t1.id,amount,time,province,city,grain,area_id from sy_area_res t1
  	inner join sy_area t2
  	on t1.area_id=t2.id
  	and t2.name=#{qry.areaName}
  	where t1.time=#{qry.time}
  	and t1.province=#{qry.parentRegionName}
  	and t1.city is not null
  	and grain=#{qry.grain}
  	<if test="qry.excludeRegionNameList !=null">
  	and t1.city not in
  		<foreach collection="qry.excludeRegionNameList" item="excludeRegionName" open="(" close=")" separator="," >
	  		#{excludeRegionName}
  		</foreach>
  	</if>
  	<if test="sort != null and order != null">
  		order by ${sort} ${order}
  	</if>
  </select>
  <select id="queryAmountFromProvincesByPage" parameterType="map" resultMap="BaseResultMap">
  	select t1.id,amount,time,province,city,grain,area_id from sy_area_res t1
  	inner join sy_area t2
  	on t1.area_id=t2.id
  	and t2.name=#{qry.areaName}
  	where t1.time=#{qry.time}
  	and t1.province is not null
  	and t1.city is null
  	and grain=#{qry.grain}
  	<if test="qry.excludeRegionNameList !=null">
  	and t1.province not in
  		<foreach collection="qry.excludeRegionNameList" item="excludeRegionName" index="" open="(" close=")" separator="," >
	  		#{excludeRegionName}
  		</foreach>
  	</if>
  	<if test="sort != null and order != null">
  		order by ${sort} ${order}
  	</if>
  </select>
  <select id="queryTrendFromCountry" parameterType="map" resultMap="BaseResultMap">
  	select sum(amount) as amount,time from sy_area_res t1
  	inner join sy_area t2
  	on t1.area_id=t2.id
  	and t2.name=#{qry.areaName}
  	where t1.time like #{qry.time}||'%'
  	and t1.province is not null
  	and t1.city is null
  	and grain=#{qry.grain}
  	group by time
  	order by time asc
  </select>
   <select id="queryTrendFromProvince" parameterType="map" resultMap="BaseResultMap">
  	select t1.id,amount,time from sy_area_res t1
  	inner join sy_area t2
  	on t1.area_id=t2.id
  	and t2.name=#{qry.areaName}
  	where t1.time like #{qry.time}||'%'
  	and t1.province = #{qry.regionName}
  	and t1.city is null
  	and grain=#{qry.grain}
  	order by time asc
  </select>
  <select id="queryLastDataTime" resultType="string">
  	select max(time) as time from sy_area_res;
  </select>
</mapper>