<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><mapper namespace="cn.howso.deeplan.psi.commons.dao.IncidentMapper"><resultMap id="BaseResultMap" type="cn.howso.deeplan.psi.commons.model.Incident"><id column="id" property="id" jdbcType="INTEGER"/><result column="scene_id" property="sceneId" jdbcType="INTEGER"/><result column="description" property="description" jdbcType="VARCHAR"/><result column="time" property="time" jdbcType="VARCHAR"/><result column="location" property="location" jdbcType="VARCHAR"/></resultMap><!-- <insert id="insert" parameterType="cn.howso.deeplan.psi.commons.model.Incident">
		<selectKey keyProperty="id" resultType="Integer" order="BEFORE">
			select nextval('sy_incident_id_seq')
		</selectKey>
		insert into sy_incident (id, scene_id, description,
		time, location)
		values (#{id,jdbcType=INTEGER}, #{sceneId,jdbcType=INTEGER},
		#{description,jdbcType=VARCHAR},
		#{time,jdbcType=VARCHAR}, #{location,jdbcType=VARCHAR})
	</insert> --><select id="selectByExample" resultMap="BaseResultMap" parameterType="object">
select
<if test="distinct">
distinct
</if>
'false' as QUERYID,
scene_id,description,location,id,time
from sy_incident
<if test="_parameter != null">
<where>
<foreach collection="oredCriteria" item="criteria" separator="or">
<if test="criteria.valid">
<trim prefix="(" prefixOverrides="and" suffix=")">
<foreach collection="criteria.criteria" item="criterion">
<choose>
<when test="criterion.noValue">
and ${criterion.condition}
</when>
<when test="criterion.singleValue">
and ${criterion.condition} #{criterion.value}
</when>
<when test="criterion.betweenValue">
and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
</when>
<when test="criterion.listValue">
and ${criterion.condition}
<foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
#{listItem}
</foreach>
</when>
</choose>
</foreach>
</trim>
</if>
</foreach>
</where>
</if>
<if test="orderByClause != null">
order by ${orderByClause}
</if>
</select><insert id="batchInsertSelective" parameterType="map">
insert into sy_incident
<trim prefix="(" suffix=")" suffixOverrides=",">
<if test="recordList[0].id != null">id,</if>
<if test="recordList[0].sceneId != null">scene_id,</if>
<if test="recordList[0].description != null">description,</if>
<if test="recordList[0].time != null">time,</if>
<if test="recordList[0].location != null">location,</if>
</trim>
values
<foreach collection="recordList" item="record" separator=",">
<trim prefix="(" suffix=")" suffixOverrides=",">
<if test="record.id != null">#{record.id,jdbcType=INTEGER},</if>
<if test="record.sceneId != null">#{record.sceneId,jdbcType=INTEGER},</if>
<if test="record.description != null">#{record.description,jdbcType=VARCHAR},</if>
<if test="record.time != null">#{record.time,jdbcType=VARCHAR},</if>
<if test="record.location != null">#{record.location,jdbcType=VARCHAR},</if>
</trim>
</foreach>
</insert><insert id="insertSelective" parameterType="object">
insert into sy_incident
<trim prefix="(" suffix=")" suffixOverrides=",">
<if test="id != null">id,</if>
<if test="sceneId != null">scene_id,</if>
<if test="description != null">description,</if>
<if test="time != null">time,</if>
<if test="location != null">location,</if>
</trim>
<trim prefix="values (" suffix=")" suffixOverrides=",">
<if test="id != null">#{id,jdbcType=INTEGER},</if>
<if test="sceneId != null">#{sceneId,jdbcType=INTEGER},</if>
<if test="description != null">#{description,jdbcType=VARCHAR},</if>
<if test="time != null">#{time,jdbcType=VARCHAR},</if>
<if test="location != null">#{location,jdbcType=VARCHAR},</if>
</trim>
</insert><select id="countByExample" parameterType="object" resultType="java.lang.Integer">
select count(*) from sy_incident
<if test="_parameter != null">
<where>
<foreach collection="oredCriteria" item="criteria" separator="or">
<if test="criteria.valid">
<trim prefix="(" prefixOverrides="and" suffix=")">
<foreach collection="criteria.criteria" item="criterion">
<choose>
<when test="criterion.noValue">
and ${criterion.condition}
</when>
<when test="criterion.singleValue">
and ${criterion.condition} #{criterion.value}
</when>
<when test="criterion.betweenValue">
and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
</when>
<when test="criterion.listValue">
and ${criterion.condition}
<foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
#{listItem}
</foreach>
</when>
</choose>
</foreach>
</trim>
</if>
</foreach>
</where>
</if>
</select><insert id="batchInsert" parameterType="map">
insert into sy_incident
(id,scene_id,description,time,location)
values
<foreach collection="recordList" item="record" separator=",">
(#{record.id,jdbcType=INTEGER},#{record.sceneId,jdbcType=INTEGER},#{record.description,jdbcType=VARCHAR},#{record.time,jdbcType=VARCHAR},#{record.location,jdbcType=VARCHAR})
</foreach>
</insert><update id="updateByPrimaryKeySelective" parameterType="object">
update sy_incident
<set>
<if test="sceneId != null">scene_id = #{sceneId,jdbcType=INTEGER},</if>
<if test="description != null">description = #{description,jdbcType=VARCHAR},</if>
<if test="time != null">time = #{time,jdbcType=VARCHAR},</if>
<if test="location != null">location = #{location,jdbcType=VARCHAR},</if>
</set>
where id=#{id,jdbcType=INTEGER}
</update><insert id="insert" parameterType="object">
insert into sy_incident
(id,scene_id,description,time,location)
values 
(#{id,jdbcType=INTEGER},#{sceneId,jdbcType=INTEGER},#{description,jdbcType=VARCHAR},#{time,jdbcType=VARCHAR},#{location,jdbcType=VARCHAR})
</insert><update id="updateByExample" parameterType="map">
update sy_incident
 set 
id = #{record.id,jdbcType=INTEGER},
scene_id = #{record.sceneId,jdbcType=INTEGER},
description = #{record.description,jdbcType=VARCHAR},
time = #{record.time,jdbcType=VARCHAR},
location = #{record.location,jdbcType=VARCHAR}
 <if test="_parameter != null">
<where>
<foreach collection="example.oredCriteria" item="criteria" separator="or">
<if test="criteria.valid">
<trim prefix="(" prefixOverrides="and" suffix=")">
<foreach collection="criteria.criteria" item="criterion">
<choose>
<when test="criterion.noValue">
and ${criterion.condition}
</when>
<when test="criterion.singleValue">
and ${criterion.condition} #{criterion.value}
</when>
<when test="criterion.betweenValue">
and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
</when>
<when test="criterion.listValue">
and ${criterion.condition}
<foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
#{listItem}
</foreach>
</when>
</choose>
</foreach>
</trim>
</if>
</foreach>
</where>
</if>
</update><select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map">
select
scene_id,description,location,id,time
from sy_incident
where id=#{id,jdbcType=INTEGER}
</select><update id="updateByExampleSelective" parameterType="map">
update sy_incident
<set>
<if test="record.id != null">id=#{record.id,jdbcType=INTEGER},</if>
<if test="record.sceneId != null">scene_id=#{record.sceneId,jdbcType=INTEGER},</if>
<if test="record.description != null">description=#{record.description,jdbcType=VARCHAR},</if>
<if test="record.time != null">time=#{record.time,jdbcType=VARCHAR},</if>
<if test="record.location != null">location=#{record.location,jdbcType=VARCHAR},</if>
</set>
<if test="_parameter != null">
<where>
<foreach collection="example.oredCriteria" item="criteria" separator="or">
<if test="criteria.valid">
<trim prefix="(" prefixOverrides="and" suffix=")">
<foreach collection="criteria.criteria" item="criterion">
<choose>
<when test="criterion.noValue">
and ${criterion.condition}
</when>
<when test="criterion.singleValue">
and ${criterion.condition} #{criterion.value}
</when>
<when test="criterion.betweenValue">
and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
</when>
<when test="criterion.listValue">
and ${criterion.condition}
<foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
#{listItem}
</foreach>
</when>
</choose>
</foreach>
</trim>
</if>
</foreach>
</where>
</if>
</update><delete id="deleteByExample" parameterType="object">
delete from sy_incident
<if test="_parameter != null">
<where>
<foreach collection="oredCriteria" item="criteria" separator="or">
<if test="criteria.valid">
<trim prefix="(" prefixOverrides="and" suffix=")">
<foreach collection="criteria.criteria" item="criterion">
<choose>
<when test="criterion.noValue">
and ${criterion.condition}
</when>
<when test="criterion.singleValue">
and ${criterion.condition} #{criterion.value}
</when>
<when test="criterion.betweenValue">
and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
</when>
<when test="criterion.listValue">
and ${criterion.condition}
<foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
#{listItem}
</foreach>
</when>
</choose>
</foreach>
</trim>
</if>
</foreach>
</where>
</if>
</delete><select id="selectByExampleByPage" resultMap="BaseResultMap" parameterType="map">
select
<if test="example.distinct">
distinct
</if>
'false' as QUERYID,
scene_id,description,location,id,time
from sy_incident
<if test="_parameter != null">
<where>
<foreach collection="example.oredCriteria" item="criteria" separator="or">
<if test="criteria.valid">
<trim prefix="(" prefixOverrides="and" suffix=")">
<foreach collection="criteria.criteria" item="criterion">
<choose>
<when test="criterion.noValue">
and ${criterion.condition}
</when>
<when test="criterion.singleValue">
and ${criterion.condition} #{criterion.value}
</when>
<when test="criterion.betweenValue">
and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
</when>
<when test="criterion.listValue">
and ${criterion.condition}
<foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
#{listItem}
</foreach>
</when>
</choose>
</foreach>
</trim>
</if>
</foreach>
</where>
</if>
<if test="example.orderByClause != null">
order by ${example.orderByClause}
</if>
</select><update id="updateByPrimaryKey" parameterType="object">
update sy_incident
 set 
id = #{id,jdbcType=INTEGER},scene_id = #{sceneId,jdbcType=INTEGER},description = #{description,jdbcType=VARCHAR},time = #{time,jdbcType=VARCHAR},location = #{location,jdbcType=VARCHAR}
where id=#{id,jdbcType=INTEGER}
</update><delete id="deleteByPrimaryKey" parameterType="map">
delete from sy_incident
where id= #{id,jdbcType=INTEGER}
</delete><insert id="insertSelectiveSelectKey" parameterType="object">
<selectKey keyProperty="id" resultType="java.lang.Integer" order="BEFORE">
select nextval('sy_incident_id_seq')
</selectKey>
insert into sy_incident
<trim prefix="(" suffix=")" suffixOverrides=",">
<if test="id != null">id,</if>
<if test="sceneId != null">scene_id,</if>
<if test="description != null">description,</if>
<if test="time != null">time,</if>
<if test="location != null">location,</if>
</trim>
<trim prefix="values (" suffix=")" suffixOverrides=",">
<if test="id != null">#{id,jdbcType=INTEGER},</if>
<if test="sceneId != null">#{sceneId,jdbcType=INTEGER},</if>
<if test="description != null">#{description,jdbcType=VARCHAR},</if>
<if test="time != null">#{time,jdbcType=VARCHAR},</if>
<if test="location != null">#{location,jdbcType=VARCHAR},</if>
</trim>
</insert></mapper>