<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sirenia.mybatis.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="cn.sirenia.mybatis.model.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="nick" jdbcType="VARCHAR" property="nick" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>
  <select id="test" resultType="cn.sirenia.mybatis.model.User">
  	select id,name,password,nick,'orange' as eye_color,-1 as "father.id",
  	'haizeiwang' as "father.fav_movie"
  	from sys_user;
  </select>
  <select id="selectByName" parameterType="String" resultMap="BaseResultMap">
  	select * from sys_user where name = #{aaa};<!-- 只有一个参数的时候，sql占位符里面参数名随便用什么都一样。但这样不规范，容易
  	产生理解问题
  	 -->
  </select>
   <select id="selectByMap" parameterType="map" resultMap="BaseResultMap">
  	select * from sys_user where name = #{name};
  </select>
   <select id="selectByUser" parameterType="cn.sirenia.mybatis.model.User" resultMap="BaseResultMap">
  	select * from sys_user where name = #{name};
  </select>
</mapper>